<div class="aviso" *ngIf="!verificado">
    <mat-card>
        Debes verificar tu mail, para poder realizar un turno!
        <button mat-raised-button color="primary" (click)="verificado = true">Cerrar</button>
    </mat-card>
</div>
<div class="example-card">
    <div class="img-container">
        <img src="../../../assets/img/6301-min.jpg" alt="">
    </div>
    <div class="text-info">
        <h2>Pedido de turnos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
        </p>
    </div>
</div>
<div class="example-card">
    <div class="img-container">
        <img src="../../../assets/img/8294-min.jpg" alt="">
    </div>
    <div class="text-info">
        <h2>Los mejores profesionales</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
        </p>
    </div>
</div>
<div class="example-card">
    <div class="img-container">
        <img src="../../../assets/img/6460-min.jpg"alt="">
    </div>
    <div class="text-info">
        <h2>Acerca de nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
        </p>
    </div>
</div>
<div class="example-card">
    <div class="img-container">
        <img src="../../../assets/img/7536-min.jpg"alt="">
    </div>
    <div class="text-info">
        <h2>Acerca de nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptas error facilis nulla
            magni officia veniam pariatur blanditiis doloribus, asperiores adipisci natus labore a, molestias
            cumque consequatur vel enim dolorem?
        </p>
    </div>
</div>
