h3{
    background-color: #c2185b;
    color: white;
    padding: 1rem 0.3rem;
    border-radius: 12px;

}

mat-selection-list{
    overflow-y: scroll;
    max-height: 400px;
}



@media only screen and (max-width: 700px) {
    mat-selection-list{
        overflow-y: scroll;
        max-height: 240px;
    }
  }