<div class="" *ngIf="eligio_medico">
    <div *ngIf="dias && dias.length > 0">
      <h3>
        Dia seleccionado: {{dia.selectedOptions.selected[0]?.value}}
      </h3>
  
  
      <mat-selection-list #dia [multiple]="false">
        <mat-list-option  *ngFor="let dia of dias" value="{{dia.name}}">
          {{dia.name}}
        </mat-list-option>
  
      </mat-selection-list>
    </div>
    <div *ngIf="dias && dias.length === 0 ">
      <h3>Lo sentimos todavia no hay medicos para esta Especialidad</h3>
    </div>
  </div>