<div class="" *ngIf="cargando">
    <h2 mat-dialog-title>Agregando turno ...</h2>
    <mat-spinner></mat-spinner>
</div>

<div class="" *ngIf="!cargando">
    <h2 mat-dialog-title>Detalles del turno</h2>
    <mat-dialog-content>
        <span>Medico: {{turno.medico.name}}</span>
        <span>Especialidad: {{turno.especialidad}}</span>
        <span>Fecha: {{turno.fecha}} {{turno.hora}}</span>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="confirmarTurno()">Confirmar Turno</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </mat-dialog-actions>
</div>