table {
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;
  }

tbody tr:hover{
    background-color: #C2185B;
  }

.mat-row:hover{
    background-color: #C2185B;
}

.mat-icon:hover{
  cursor: pointer;
}